<ion-header>
  <ion-toolbar>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFdmdkFh8SLWQ/profile-displayphoto-shrink_200_200/0/1645643350774?e=2147483647&v=beta&t=vTFVtG8WJ6QYvXAc3czpwUl4XL3_kdZZUdKbia1Ubvs" />
    <ion-card-header>
      <ion-card-title>José Luis Segura Navarro</ion-card-title>
      <ion-card-subtitle>jlsn5@alu.ua.es</ion-card-subtitle>
      <ion-card-subtitle>23902549Y</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Práctica 1 de la asignatura "DISM". Universidad de Alicante
    </ion-card-content>
  </ion-card>
  <ion-button [routerLink]="[ '/home' ]" color="secondary" expand="block">Inicio</ion-button>
</ion-content>
