<ion-header>
  <ion-toolbar>
    <ion-title>Listado de partes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of ParteData | filter:filterTerm">
      <ion-label>
        <h2>{{item.fecha}}</h2>
        <p>{{item.hora}}</p>
        <p>{{item.descripcion}}</p>
        <p> {{item.latitud}} </p>
        <p> {{item.longitud}}</p>

      </ion-label>
      <ion-button (click)="ver(item)" color="secondary" size="small"> <ion-icon name="eye-outline"></ion-icon> </ion-button>
      <ion-button (click)="editar(item)" color="warning" size="small"> <ion-icon name="create"></ion-icon> </ion-button>
      <ion-button (click)="delete(item)" color="danger" size="small"> <ion-icon name="trash-outline"></ion-icon> </ion-button>
    </ion-item>
  </ion-list>
  <ion-button [routerLink]="['/nuevo-parte']" expand="block">Nuevo Parte</ion-button>
  <ion-button [routerLink]="[ '/home' ]" color="warning" expand="block">Volver</ion-button>
</ion-content>
