<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="ion-padding">

    <ion-button [routerLink]="['/nuevo-parte']" expand="block">Añadir Parte</ion-button>
    <ion-button [routerLink]="['/nuevo-cliente']" expand="block">Añadir Cliente</ion-button>
    <ion-button [routerLink]="['/login']" color="danger" expand="block">Cerrar Sesión</ion-button>

  </div>
</ion-content>
