<ion-header>
  <ion-toolbar>
    <ion-title>nuevo Parte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <!-- Identificador de ususarios -->
    <ion-item>
      <ion-label position="floating">Identificador</ion-label>
      <ion-input type="number" [(ngModel)]="data.id"></ion-input>
    </ion-item>

    <!-- Fecha -->
    <ion-item>
      <ion-label position="stacked">Fecha nacimiento</ion-label>
      <ion-input type="date" [(ngModel)]="data.fecha"></ion-input>
    </ion-item>

    <!-- Hora -->
    <ion-item>
      <ion-label position="stacked">Tiempo</ion-label>
      <ion-input type="time" [(ngModel)]="data.hora"></ion-input>
    </ion-item>

    <!-- Descripcion -->
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input type="string" [(ngModel)]="data.descripcion"></ion-input>
    </ion-item>

    <!-- Incidencia -->
    <ion-item>
      <ion-label>Incidencia resuelta</ion-label>
      <ion-toggle slot="end" [(ngModel)]="data.incidencia"></ion-toggle>
    </ion-item>

    <!-- Tiempo dedicado -->
    <ion-item>
      <ion-label position="floating">Tiempo dedicado</ion-label>
      <ion-input type="number" [(ngModel)]="data.tiempo"></ion-input>
    </ion-item>

    <!-- Geolocalización Latitud-->
    <ion-item>
      <ion-label position="stacked">Latitud</ion-label>
      <ion-input [(ngModel)]="data.latitud"></ion-input>

      <ion-label position="stacked">Longitud</ion-label>
      <ion-input [(ngModel)]="data.longitud"></ion-input>
    </ion-item>

    <!-- Geolocalización Longitud-->
    <!-- <ion-item>
      <ion-label position="floating">Longitud</ion-label>
      <ion-input type="string"></ion-input>
    </ion-item> -->

    <!-- Boton añadir -->
    <ion-button (click)="nuevoParte()" expand="block">nuevo Parte</ion-button>
    <ion-button [routerLink]="[ '/home' ]" color="warning" expand="block">Cancelar</ion-button>

  </div>

</ion-content>

